<h1>Main#abc</h1>
<p>Find me in app/views/main/abc.html.erb</p>
<p>nonononoxxx</p>
<% a=params[:a] %>
<% b=params[:b] %>
<% c1=0 %>
<% c2=0 %>
<% i=0 %>
<% if(@upost!=nil) then %>
We found posts Yeah!!!
<%= Array(@upost)%>

<% else %>
We found nothing or your input is wrong
<% end %>
